@import "../../scss/colors.scss";
@import "../../scss/mixin.scss";

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  .project-section-heading {
    text-align: center;
  }
  min-height: 100vh;
}
.project-container {
  flex: 1;
  display: flex;
  align-items: center;
  margin: 2rem;
  flex-wrap: wrap;
  @media screen and (max-width: 767px) {
    margin: 0.5rem;
    flex-direction: column;
    overflow-x: unset;
  }
  .project-card {
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    width: 30rem;
    height: 25rem;
    margin: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 2px solid $primary-color;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    // TODO: Need to take care of **RESPONSIVENESS**
    @media screen and (max-width: 767px) {
      width: 20rem;
      height: 30rem;
      .title-container {
        .text-container {
          width: 100%;
          .project-title {
            font-size: 1.5rem !important;
            white-space: pre-wrap;
          }
          .project-description {
            font-size: 1rem !important;
            white-space: pre-wrap;
          }
        }
      }
      .image-container {
        width: 100% !important;
        .project-image {
          width: 10rem;
          height: 10rem;
        }
      }
    }
    .title-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .text-container {
        width: 100%;
        .project-title {
          font-size: 1.25rem;
          text-align: center;
        }
        .project-description {
          font-size: 1.2rem;
          text-align: center;
          white-space: pre-wrap;
        }
      }
      .link {
        border: unset;
        background: $primary-color;
        color: $white;
        height: 2.5rem;
        min-width: 5rem;
        margin: 0.5rem;
        padding: 0.5rem;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.2s transform ease-in-out;
        &:hover {
          transform: scale(1.05);
        }
      }
    }
    .image-container {
      flex: 1;
      display: flex;
      justify-content: center;
      width: 20rem;
      overflow: hidden;
      margin: auto;
      .project-image {
        position: relative;
        width: 25rem;
        height: 15rem;
        transition: transform 0.2s ease-in-out;
        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}