@import "../../scss/mixin.scss";
@import "../../scss/colors.scss";
@import "../../scss/animation.scss";

.profile-container-light, .profile-container-dark{
  position: relative;
  display: flex;
  min-height: 95vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  z-index: 10;
  animation-name: grow;
  animation-duration: 2s;
  .profile-text-container {
    animation-name: appear;
    animation-duration: 4s;
    padding: 1rem;
    border-radius: 1rem;
    opacity: 1;
    background: rgba(255,255,255, 0.7);
    border: .25rem solid rgba(66,133,244,.5333333333333333);
    h2 {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
 .profile-image {
  animation-name: appear;
  animation-duration: 4s;
  position: relative;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    border: .5rem solid rgba(66,133,244,.5333333333333333);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    div {
      width: 100%;
      border-radius: 50%;
    }
  }
  .profile-image:hover {
    box-shadow: 1rem 1rem 1rem 0 rgba(0,0,0,0.6);
  }
  h1, h2, p {
    font-family: 'Exo 2', sans-serif;
  }
  h2 {
    color: rgba(0,0,0,.5333333333333333);
    font-size: 1.25rem;
    text-align: center;
  }
  p {
    text-align: center;
  }
  .marker {
    color: $primary-color;
  }
}

.profile-container-dark {
  @include theme ($light-theme: false);
  .profile-text-container {
    background: rgba(0,0,0, 0.7);
    h2 {
      @include theme-color ($light-theme: false)
    }
  }
}

.bg-img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  z-index: -1;
  opacity: 0.6;
}