.about-container {
  min-height: 100vh;
  background: url("../../assets/bg.jpg");
  background-size: cover;
  padding: 1rem;
  display: flex;
  .about-text-section {
    background: #ffffff44;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 2rem;
    .about-text {
      font-size: 1.25rem;
    }
  }
}
