@import "../../scss/mixin.scss";
@import "../../scss/colors.scss";
.about-container-light, .about-container-dark {
  min-height: 90vh;
  background: $primary-color;
  padding: 1rem;
  display: flex;
  border-bottom: 2px solid $white;
  .about-text-section {
    background: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 2rem;
    .about-text {
      font-size: 1.25rem;
    }
  }
}

.about-container-dark {
  border-bottom: 2px solid $black;
  .about-text-section {
    @include theme ($light-theme: false);
  }
}
