@import "../../scss/mixin.scss";
@import "../../scss/colors.scss";

.header-container-light, .header-container-dark {
  display: flex;
  align-items: center;
  background: $primary-gradient;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  height: 7rem;
  transition: height 2s;
  a {
    text-decoration: none;
  }
  // .header-icon {
  //   // font-family: 'Reggae One', cursive;
  //   // color: $primary-color;
  //   // background: $white;
  //   border-radius: 50%;
  //   // padding: 1rem;
  //   // margin: 0.5rem;
  //   // transition: all 1s;
  //   width: 6rem;
  //   video {
  //     border-radius: 50%;
  //     width: 100%;
  //   }
  // }
  .header-title {
    font-family: 'Exo 2', sans-serif;
    font-size: 3rem;
    line-height: 2rem;
    margin: 1rem;
    color: $white;
    transition: all 1s;
  }
  .nav-menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    a, span {
      text-decoration: none;
      color: $white;
      height: 2rem;
      line-height: 2rem;
      margin: 0.25rem;
      padding: 0.25rem;
      border-radius: 0.25rem;
      font-weight: bold;
      &:hover {
        color: $primary-color;
        background: $white;
      }
    }
    span {
      color: $white;
      min-width: 2rem;
      text-align: center;
      cursor: pointer;
      &:hover {
        background: $white;
      }
    }
  }
  .hamburger-menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    position: relative;
    .ham-button {
      margin: 1rem;
      border: unset;
      color: $white;
      background-color: transparent;
      opacity: 1;
      transition: all 1s;
      font-size: 2rem;
      animation: fadein 0.25s;
      &:hover {
        background-color: $white;
        color: $primary-color;
      }
      &:active {
        animation: fadeout 0.25s;
        opacity: 0;
      }
    }
    .ham-menu {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 3.5rem;
      right: 1rem;
      background: $white;
      a, span {
        text-decoration: none;
        color: $primary-color;
        padding: 0.5rem 0.25rem;
        border: 0.2px solid $primary-color;
        transition: all 0.5s;
        &:hover {
          color: $white;
          background: $primary-gradient;
        }
      }
      span {
        background: $black;
        &:hover {
          color: $black;
        }
      }
    }
  }
  .theme-container {
    button{
      // border: 2px solid $white;
      padding: unset;
      height: 2.75rem;
      width: 3rem;
      line-height: 2rem;
      border-radius: 0.25rem;
      font-size: 2rem;
      font-weight: bold;
      cursor: pointer;
      margin: 0.25rem;
      @include theme($light-theme: true);
    }
  }
}
.header-container-dark {
  .header-icon {
    @include theme-background ($light-theme: false);
  }
  .header-title {
    @include theme-color ($light-theme: true);
  }
  .nav-menu {
    a {
      @include theme-color ($light-theme: true);
      // border: 2px solid $black;
      &:hover {
        @include theme-color ($light-theme: false);
        @include theme-background ($light-theme: false);
      }
    }
    span {
      @include theme-color ($light-theme: false);
      // border: 2px solid $white;
      &:hover {
        @include theme-background ($light-theme: true);
      }
    }
  }
  .hamburger-menu {
    .ham-button {
      @include theme-color ($light-theme: true);
      &:hover {
        @include theme-background ($light-theme: false);
      }
    }
    .ham-menu {
      @include theme-background ($light-theme: false);
      a {
        &:hover {
          @include theme-color ($light-theme: true);
        }
      }
      span {
        background: $white;
        &:hover {
          @include theme-color ($light-theme: false);
        }
      }
    }
  }
  .theme-container {
    button{
      @include theme($light-theme: true);
      border: 2px solid $black
    }
  }
}
.header-scrolled {
  height: 3rem;
  .header-icon {
    font-size: 1rem;
    padding: 0.5rem;
    margin: 0.5rem;
  }
  .header-title {
    font-size: 2rem;
  }
}

// Theme toggle button
.theme-container {
  margin: 0.75rem 0.25rem;
}
// Need to fix this in future - Toggle button for theme
// .toggle-icon {
//   // padding: 5rem 0;
//   border: 2px solid red;
//   font-size: 1rem;
// }

@keyframes fadeout {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.9);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}