@import "../../scss/colors.scss";
@import "../../scss/mixin.scss";
.footer-container-light, .footer-container-dark {
  background: $primary-gradient;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $white;
  border-top: 2px solid $white;
  .social-section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  .social-card {
    background: $white;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    margin: 1rem;
    padding: 1rem;
    text-decoration: none;
    height: 2rem;
    color: $black;
    .social-image {
      position: relative;
      margin: 0.5rem;
      padding: unset;
      width: 2rem;
      height: 2rem;
      .social-title {
        flex: 1;
      }
    }
  }
  @media screen and (max-width: 425px){
    .social-card {
      padding: 0.25rem;
      margin: 0.5rem;
      .social-title {
        display: none;
      }
    }
  }
}
  .social-card:hover {
    box-shadow: 1rem 1rem 1rem 0 rgba(0,0,0,0.5);
  }
  p{
    vertical-align: bottom;
  }
}

.heart {
  color: red;
}

.footer-container-dark {
  @include theme-color($light-theme: false);
  border-top: 2px solid $black;
  .social-section{
    .social-card {
      @include theme($light-theme: false);
    }
  }
}

.footer-links-section {
  display: flex;
  .footer-links-row {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    a {
      margin: 0.25rem;
      color: unset;
      cursor: pointer;
    }
  }
}