@import "../../scss/mixin.scss";
@import "../../scss/colors.scss";
.testimonial-container-light, .testimonial-container-dark {
    display: flex;
    flex-direction: column;
    background: $primary-color;
    border-top: 2px solid $white;
    .carousel-image {
        position: relative;
        margin: auto;
        width: 90vw;
        height: 80vh;
        div {
            background-size: contain !important;
        }
    }
    h2 {
        text-align: center;
        color: $white;
    }
    min-height: 90vh;
}
.testimonial-container-dark {
    border-top: 2px solid $black;
    h2 {
        @include theme-color($light-theme: true)
    }
}