.tweet-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    background: #4285f4;
    h2 {
        color: white;
    }
    a {
        text-decoration: none;
    }
    .twitter-button {
        height: 3rem;
        border: 2px solid #ffffff;
        background-color: #4285f4;
        color: #ffffff;
        padding: 0.5rem;
        border-radius: 1rem;
        margin-bottom: 1rem;
        box-shadow: 1rem 1rem 1rem 0 rgba(0,0,0,0.4);
        cursor: pointer;
    }
    .tweet-card {
        flex: 1;
        width: 80%;
        margin: 1rem 0;
    }
}

.tweet-card {
    background-color: #ffffff;
    border-radius: 1rem;
    padding: 1rem;
    a {
        text-decoration: none;
    }
    .retweeted-by {  
        .retweet-icon, .retweet-inverted-icon {
            color: rgb(0, 186, 124);
            font-weight: bold;
        }
        .retweet-inverted-icon {
            margin-left: -5px;
        }
        font-size: 12px;
        color: #000000cc;
        line-height: 20px;
    }
    .tweet-header {
        display: flex;
        align-items: center;
        margin-bottom: 0.5rem;
        .tweet-user {
            font-weight: bold;
            color: #000000;
            margin-right: 0.5rem;
        }
        .tweet-handle {
            color: #000000cc;
        }
    }
    .tweet-text {
        color: #000000;
    }
}